<section class="section section-buttons">
    <a href="{{links.site}}" class="btn" target="_blank"><i class="icon icon-mouse-pointer"></i>
        Pedido rápido
    </a>

    <a href="{{links.whatsapp}}" target="_blank" class="btn"><i class="icon icon-whatsapp"></i> Whatsapp</a>

    <a href="#" class="btn acao" data-target="telefones"><i class="icon icon-phone"></i> Telefone</a>
    <div id="telefones" class="overflow-hidden transition-all duration-500 max-h-0">
        <div
            class="list flex flex-col md:flex-row justify-between items-center shadow rounded-xl  p-5 mx-6 divide-pagebg mb-5 bg-pagebg">


            <div class="list-title font-bold text-xl">(11) 3966-6869</div>
            <div
                class="list-action tracking-widest md:border-l md:pl-6 border-pagebg w-full md:w-auto mt-3 pt-3 md:pt-0 md:mt-0 border-t md:border-t-0">
                <a href="tel:1139666869"
                    class="block w-full py-3 px-6 transition-colors text-xs hover:bg-primary hover:text-secondary rounded-full uppercase text-center">
                    Ligar
                    <i class="icon-angle-right -mr-1"></i></a>
            </div>
        </div>

        <!--
        <div
            class="list flex flex-col md:flex-row justify-between items-center shadow rounded-xl  p-5 mx-6 divide-pagebg mb-5 bg-pagebg">
            <div class="list-title font-bold text-xl">(11) 3965-0900</div>
            <div
                class="list-action tracking-widest md:border-l md:pl-6 border-pagebg w-full md:w-auto mt-3 pt-3 md:pt-0 md:mt-0 border-t md:border-t-0">
                <a href="tel:1139650900"
                    class="block w-full py-3 px-6 transition-colors text-xs hover:bg-primary hover:text-secondary rounded-full uppercase text-center">
                    Ligar
                    <i class="icon-angle-right -mr-1"></i></a>
            </div>

        </div>-->

        <div
            class="list flex flex-col md:flex-row justify-between items-center shadow rounded-xl  p-5 mx-6 divide-pagebg mb-5 bg-pagebg">

            <div class="list-title font-bold text-xl">(11) 3961-3275</div>
            <div
                class="list-action tracking-widest md:border-l md:pl-6 border-pagebg w-full md:w-auto mt-3 pt-3 md:pt-0 md:mt-0 border-t md:border-t-0">
                <a href="tel:1139613275"
                    class="block w-full py-3 px-6 transition-colors text-xs hover:bg-primary hover:text-secondary rounded-full uppercase text-center">
                    Ligar
                    <i class="icon-angle-right -mr-1"></i></a>
            </div>
        </div>



        <div
            class="list flex flex-col md:flex-row justify-between items-center shadow rounded-xl  p-5 mx-6 divide-pagebg mb-5 bg-pagebg">
            <div class="list-title font-bold text-xl">(11) 3856-0852</div>
            <div
                class="list-action tracking-widest md:border-l md:pl-6 border-pagebg w-full md:w-auto mt-3 pt-3 md:pt-0 md:mt-0 border-t md:border-t-0">
                <a href="tel:1138560852"
                    class="block w-full py-3 px-6 transition-colors text-xs hover:bg-primary hover:text-secondary rounded-full uppercase text-center">
                    Ligar
                    <i class="icon-angle-right -mr-1"></i></a>
            </div>

        </div>


    </div>

    <a href="#" class="btn acao" data-target="endereco"><i class="icon icon-map"></i> Endereço</a>
    <div id="endereco" class="overflow-hidden transition-all duration-500 max-h-0">
        <iframe class="block border-0 rounded-xl w-full h-96 mt-5 bg-dark"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1265.3397826194239!2d-46.66767889246201!3d-23.49150378105831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef78615228b5f%3A0x3dc65043390a1e9d!2sSabino&#39;s%20Pizzas!5e1!3m2!1spt-BR!2sbr!4v1717702404002!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>